h1{
    color: green;
}

p{
    font-size: small;
    font-family: sans-serif;
}

h1{
    margin: 2em;
}
/*
Komentar di css bebas berbaris baris
*/ 

table{
    background-color: burlywood;
    font-family: sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
    border-color: blue;
}

header{
    background-color: aqua;
    font-family: sans-serif;
}

main{
    background-image: linear-gradient(red, blue, yellow);
}