/* Digunakan untuk menghapus seluruh padding dan margin standard yang di berikan browser pada element */
*{
    margin: 0;
    padding: 0;

    /*menggunakan border-box dalam perhitungan dimensi box-nya*/
box-sizing: border-box;
}

.container {
    width: 800px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}


.left-content {
    text-align: center;
    line-height: 400px;
    width: 30%;
    height: 100%;
    background-color: #00c7ed;

    /* Digunakan untuk memindahkan posisi element ke sisis kiri container*/
    float: left;
}

.right-content {
    text-align: center;
    line-height: 400px;
    width: 70%;
    height: 100%;
    background-color: aquamarine;


    /* Digunakan untuk memindahkan element ke sisi kanan container */
    float: right;
}

.container2 {
    width: 800px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}


.left-content2 {
    text-align: center;
    line-height: 400px;
    width: 33.3%;
    height: 100%;
    background-color: #00c7ed;

    /* Digunakan untuk memindahkan posisi element ke sisis kiri container*/
    float: left;
}

.center-content {
    text-align: center;
    line-height: 400px;
    width: 33.3%;
    height: 100%;
    background-color: rgb(255, 247, 15);
    float: left;}

.right-content2 {
    text-align: center;
    line-height: 400px;
    width: 33.3%;
    height: 100%;
    background-color: aquamarine;


    /* Digunakan untuk memindahkan element ke sisi kanan container */
    float: right;
}


h2 {
    text-align: center;
    background-color: lime;
    font-family: sans-serif;
    color: blueviolet;
}














/* Coba bikin posisi top ternyata bisa
.top-content {
text-align: center;
background-color: rgb(0, 121, 227);
color: aquamarine;

    float: top;
}
*/